
*
{
    font-family: 'Courier New', Courier, monospace;    
}
body{
    overflow-x: hidden;
}
header
{
    width:100%;
    height:100px;
    background-color: black;
}
header p
{
    text-align:center;
    color:white;
    font-size:75px;
    font-weight: bold;
}
.label1
{
    background-color: rgb(145, 209, 145);
    border: 1px solid black;
    height: 150px;
    FONT-SIZE:30PX;
    text-align: center;
    padding:40px 0 30px 0;
}
.custom-file-label::after {
    content: "" !important;
    background-color: transparent;
    border-left:none;
}
.viewimg
{
    position:relative;
    top:150px;
}
.background-img{
    background-size: 100% 100%;
    width: 500px;
    height: 500px;
}
footXer
{
    width:100%;
    height:100px;
    background-color: black;

}
fooXZSter p
{
    text-align:center;
    color:white;
    font-size:35px;
    font-weight: bold;
    padding-top:25px;
}
